<div class="my-2 w-25                             ">
  <label for="" class="my-1">Catgories :</label>
  <select class="form-control" name="" id="">
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
    <option value="">4</option>
  </select>
</div>

<div class="row">


  <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let item of product">
    <section class="card">

      <div class="image">
        <div class="desc"><img src="{{item.image}}" ></div>
        <div class="mob"> <img src="{{item.image}}" alt="product-img"></div>

      </div>

      <div class="text">
        <div class="per">
          <p>PERFUME</p>
        </div>


        <h1>Gabrielle Essence Eau De Parfum</h1>

        <p> A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of
          CHANEL. </p>

        <div class="price">
          <h1>${{item.price}}</h1>
          <p>$169.99</p>
        </div>

        <div class="btn">
          <button>
            <span><img src="images/icon-cart.svg" alt=""></span> Add to cart</button>
        </div>

      </div>

    </section>


  </div>
</div>
