<section class="card">

  <div class="image" routerLink="/detalis/{{item.id}}">
    <div class="desc"><img src="{{item.image}}"></div>
    <div class="mob"> <img src="{{item.image}}" alt="product-img"></div>

  </div>

  <div class="text">
    <div class="per"routerLink="/detalis/{{item.id}}">
      <p>PERFUME</p>
    </div>


    <h1 routerLink="/detalis/{{item.id}}">{{item.title}}</h1>

    <p routerLink="/detalis/{{item.id}}"> A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of
      CHANEL. </p>

    <div class="price" routerLink="/detalis/{{item.id}}">
      <h1>${{item.price}}</h1>
      <p>$169.99</p>
    </div>

    <div class="btn">
      <button *ngIf="!addClick" (click)="addClick = true" > <span><img src="images/icon-cart.svg" alt=""  ></span> Add to cart</button>

      <div class="d-flex w-50" *ngIf="addClick">
        <input type="text" class="form-control" [(ngModel)]="amount">
        <button (click)="add() ;addClick=false " class="btn btn-danger">add</button>
      </div>
    </div>

  </div>

</section>
